.add-payment-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-label {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 160px;
}

.input-title {
  color: #1c1d22;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}



