.debt-details-container {
  padding: 1rem;
}


.debt-info {
  display: grid;
  grid-template-columns: 1fr;
}

.debt-info-row {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #d5d6dd;
  padding: 1rem 0;
}

.info-label {
  color: #3c3f4a;
  font-size: 0.875rem;
  font-weight: normal;
  flex: 0 0 33.33%;
  text-align: left;
}

.info-value {
  color: #1c1d22;
  font-size: 0.875rem;
  font-weight: normal;
  flex: 1;
  text-align: left;
}

.add-payment-container {
  padding-top: 1rem;
}

.payments-title {
  color: #1c1d22;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

.payment-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f9fafa;
  padding: 1rem;
  min-height: 4.5rem;
  justify-content: space-between;
  border-top: 1px solid #d5d6dd;
}

.payment-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}



.payment-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}


.payment-date {
  color: #2d3144;
  font-size: 0.95rem;
  font-weight: 800;
}

.payment-amount {
  color: #3c3f4a;
  font-size: 0.875rem;
  font-weight: 600;
}

.payment-method{
  color: #3c3f4a;
  font-size: 0.8rem;
  font-weight: normal;
}

.payment-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeff2;
  border-radius: 0.75rem;
  width: 3rem;
  height: 3rem;
}

.spacer {
  height: 1.25rem;
  background-color: #f9fafa;
}


/* src/styles/ImageModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.modal-image {
  max-width: 100%;
  height: 50%;
}

