.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  position: fixed; /* Fijar la posición */
  top: 0; /* Fijar en la parte superior */
  width: 100%; /* Abarcar todo el ancho */
  background-color: #fff; /* Fondo blanco para que no se superponga con el contenido */
  z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.header-title {
  color: #1c1d22;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  flex: 1;
  text-align: center;
}

.header-icon {
  color: #1c1d22;
  flex: 0 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

