.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}

.header-title {
  color: #1c1d22;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  flex: 1;
  text-align: center;
}

.header-icon {
  color: #1c1d22;
  flex: 0 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
