.navbar {
  display: flex;
  gap: 2px;
  border-top: 1px solid #eeeff2;
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}


.nav-item svg {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item p {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  margin-top: 0.25rem;
  text-align: center;
}

.nav-item.active {
  color: #1c1d22;
}

.nav-item.inactive {
  color: #3c3f4a;
}

.crear {
  display: flex;
  width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  height: 3rem;
  background-color: #617bfc;
  color: #f9fafb;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
