/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Be Vietnam Pro', 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.btn-default {
  display: flex;
  align-items: center;
  min-width: 84px;
  max-width: 480px;
  justify-content: center;
  border-radius: 9999px;
  height: 3rem;
  padding: 0 1.25rem;
  flex: 1;
  background-color: #607afb;
  color: #f9fafb;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera...) */
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment, 
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
